/* Reset */
* {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

html {
  font-size: 10px;
}
body {
  color: rgb(35, 35, 35);
  background: #ff416c;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  box-sizing: border-box;
}

/* Layout */

main {
  max-width: 96rem;
  padding: 0 2rem;
  margin: 0 auto;
}
.wrapper {
  background-color: #fff;
  padding: 4rem 0;
  margin: 4rem 0;
  border-radius: 5px;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  transform: skew(-10deg);
  transition: all 0.3s ease;
}
.wrapper > * {
  transform: skewX(10deg);
}
.wrapper:hover {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.5rem) skewX(-10deg) scale(1.01);
}
.wrapper:hover h1 {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: rotateZ(-2deg) translate(-0.5rem) scale(1.01);
}
.converter-wrap {
  max-width: 90%;
  margin: 0 auto;
}

/* UTILITIES */

.u-text-center {
  text-align: center;
}
.u-margin-top-xs {
  margin-top: 1rem;
}
.u-margin-top-sm {
  margin-top: 2rem;
}

.u-margin-top-md {
  margin-top: 4rem;
}

.u-margin-top-lg {
  margin-top: 6rem;
}

.u-margin-top-xl {
  margin-top: 8rem;
}

.u-margin-bottom-xs {
  margin-bottom: 1rem;
}

.u-margin-bottom-sm {
  margin-bottom: 2rem;
}

.u-margin-bottom-md {
  margin-bottom: 4rem;
}

.u-margin-bottom-lg {
  margin-bottom: 6rem;
}

.u-margin-bottom-xl {
  margin-bottom: 8rem;
}

/* Typography */

h1 {
  font-size: 4.2rem;
  font-weight: lighter;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  transition: all 1s ease;
}
h2 {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: lighter;
}
p {
  font-size: 1.8rem;
}
@keyframes Pulsate {
  0% {
    transform: translateY(1) scale(1);
  }

  50% {
    transform: translateY(-0.2rem) scale(1.02);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  }

  100% {
    transform: translateY(1) scale(1);
  }
}

/* Components */
form {
  display: block;
}
form input {
  color: #fff;
  font-size: 1.6rem;
}
form input[type="number"] {
  border: 2px solid transparent;
  display: block;
  width: 70%;
  height: 4rem;
  border-radius: 5px;
  background-color: rgb(30, 30, 30);
  padding: 0 2rem;
  transition: all 0.6s ease;
}
form input[type="number"]:focus {
  border: 2px solid #ff416c;
  width: 100%;
  outline: none;
}
.weight {
  border-radius: 4px;
  color: #fff;
  padding: 1rem 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.weight:hover {
  animation: Pulsate 1s ease-in-out infinite;
}
.weight:not(:last-child) {
  margin-bottom: 2rem;
}

.weight-1 {
  background-color: #ff416c;
}

.weight-2 {
  background-color: #ff4b2b;
}

.weight-value {
  font-weight: bold;
  font-size: 2rem;
}
